body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
.add-post-form {
  margin-top: 30px;
}
.add-post-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #FF512F;
  width: 100%;
  /* height: 60px; */
  padding: 10px 15px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.add-post-form .input-block.focus {
  background-color: #fff;
  border: solid 1px #fb2900;
}
.add-post-form .input-block.textarea {
  height: auto;
}
.add-post-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.add-post-form .input-block label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
}
.add-post-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.add-post-form .input-block .form-control:focus label {
  top: 0;
}
.add-post-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fb2900;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.add-post-form .square-button:hover, .add-post-form .square-button:focus {
  background-color: white;
}

@media (min-width: 768px) {
  .add-post-wrap {
    width: 60%;
    margin: auto;
  }
}
/*----page styles---*/
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTEyZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkMjQ3NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff512f), color-stop(100%, #dd2476));
  background-image: -moz-linear-gradient(left, #ff512f, #dd2476);
  background-image: -webkit-linear-gradient(left, #ff512f, #dd2476);
  background-image: linear-gradient(to right, #ff512f, #dd2476);
  font-family: 'Roboto', sans-serif;
}

.add-post-wrap {
  padding: 15px;
}

h1 {
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff7c62;
}
.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
  position: relative;
  z-index: 2;
  font-size: 26px;
  color: #333;
}
.add-post-wrap .img-responsive{
  padding: 25px;
}
.img-responsive {
  width: 100%;
}
input[type='submit'], .cursor-pointer{
  cursor: pointer;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-shrink: 0;
}
.post-preview {
  width: 25vw;
  box-shadow: 1px 1px 2px 2px;
  margin: 2vw;
  padding: 2vw;
  cursor: pointer;
}
.add-post-btn {
  cursor: pointer;
  position: fixed;
  width: 60px;
  height: 60px;
  background: whitesmoke;
  border-radius: 50%;
  font-size: 40px;
  line-height: 60px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
  right: 30px;
  bottom: 100px;
  z-index: 99999;
}
.drop-zone {
  width: 100%;
  position: relative; 
  height: 200px; 
  border-width: 2px; 
  border-color: rgb(102, 102, 102); 
  border-style: dashed; 
  border-radius: 5px;
  color: #fff
}
.drop-zone > *{
  margin: 0 auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}